table {
    margin: 5px;
    width: 100%;
    border-collapse: collapse;
    caption-side: top;
    border-radius: 4px;
}


table, tr, td ,th {
    border: 1px solid gray;
    font-size: 12px;
}

caption {
    text-align: center;
}

.bgtomato {
    background-color: #C5E1A5;
}

.hp{
    background-color: rgb(181, 252, 213);   
}

.red {
    background-color: rgb(255, 173, 134);
}

.Su {
    background-color: #f4f28f;
}

th {
    text-align: center;
    background-color: lightgrey;
    position: sticky;
    top: 0;
}

td > div:nth-child(1) {
    border-bottom: 0.5px solid green;
    text-align: center;
}

td > div:nth-child(2) {
    border-top: 0.5px solid green;
    text-align: center;    
}

tr:hover {background-color: rgb(223, 255, 80);}

.bmr>* {
 margin-right: 6px;
}
.bmr {
    text-align: center;
}

input, select {
    border-radius: 4px;
}