<nav class="navbar navbar-expand-sm navbar-dark bg-dark nav-pills">
  <a [routerLink]="['']" class="navbar-brand">
    <img src="/assets/images/bsnl.png" alt="bsnl-logo" class="logo">
    BSNL Vizag
  </a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarmenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarmenu">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['attend']"   routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">Attendance</a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['telephone']" routerLinkActive="active"> Service Directory </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['ipdata']" routerLinkActive="active"> IPData </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['assets']" routerLinkActive="active"> IT Assests </a>
    </li>
    <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['custDailing']"> Customer Dailing </a></li>
   
    <li class="nav-item"><a class="nav-link" [routerLink]="['email']"> E-Office  </a></li>-->
       
  </ul>

  </div>
  <div>
    
    <ul class="navbar-nav">
      
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['login']" (click)="logout()" *ngIf="auth.loggedIn()">  {{auth?.getCurrentUser()?.name}} : Logout  </a>
        <a class="nav-link" [routerLink]="['login']" routerLinkActive="active" *ngIf="!auth.loggedIn()"> Login   </a>
      </li>
    </ul>
  </div>


  <!-- old -->

</nav>